#weather {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

#weather i {
  font-family: weathericons;
  font-size: 80px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  text-transform: none;
  color: #39bad2;
    margin-bottom: 30px;
}

#weather h4 {
  margin: 0 0 8px;
  font-size: 100px;
  font-weight: normal;
  text-align: center;
}

#weather ul {
  margin: 0 0 10px 0;
  padding: 0;
  text-align:center;
}

#weather li {
  background: #fff;
  background: rgba(0,0,0,0.1);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
  margin-bottom:10px;
  margin-left:5px;
  margin-right:5px;
}

#weather small{
    font-size: 40px;
}

span.details_forecast {
	border:2px solid rgba(0,0,0,0.1);
	display:inline-block;
	text-align:center;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom:10px;
  margin:0 3px;
  white-space:nowrap;
  margin-bottom:6px;
  min-width:100px;
}
/* Mobile Landscape */
@media (max-width: 600px) {
    #weather { width: 80% }
	#weather h4 {font-size: 60px;}
	#weather i { font-size: 40px;}
    #weather li {
        padding: 8px;
        font-size: 12px;
    }
}